replicaCount: 1

image:
  registry: docker.io
  organization: antsinmyey3sjohnson
  repository: hazeltest
  tag: 0.18.0
  digest: f72fe249c2e2b510dc1be9dfc4ccc00baedd90a90a58a8123e3dc344812cbd76
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: "100m"
    memory: "75Mi"
  limits:
    cpu: "200m"
    memory: "150Mi"

startupArgs:
  - "-config-file=/data/config/custom-config.yaml"
  - "-use-unisocket-client=false"

env:
  # Name of the Hazelcast cluster to connect to -- usually configured in Hazelcast by means of the "hazelcast.cluster-name" property
  hzCluster: "hazelcastplatform"
  # Can be IP addresses or Kubernetes services names
  # Accepts multiple comma-separated values ("service1,service2,service3")
  hzMembers: "hazelcastplatform"
  # Set this to TRACE if you want to make the people running your IT department's logging platform very upset
  logLevel: INFO

features:
  # Only set this to false if no chaos monkey runs with the 'k8sInCluster' hazelcast member access mode
  # (The reason the template doesn't evaluate this directly is because a user might rely on one of the
  # built-in config files to configure chaos monkeys and not provide a custom config in this yaml file)
  useDeletePodsServiceAccount: true
  useSccOnOpenShift: false

reachability:
  containerPort: 8080
  service:
    deploy: true
    type: ClusterIP
    port: 8080

config:
  # For documentation on these properties, please refer to <repo root>/client/defaultConfig.yaml
  chaosMonkeys:
    memberKiller:
      enabled: true
      numRuns: 100
      chaosProbability:
        evaluationMode: perMember
        percentage: 0.7
      memberTermination:
        mode: delayed
        delayed:
          delaySeconds: 20
          enableRandomness: true
      memberSelection:
        targetOnlyActive: true
        mode: relative
        absolute:
          numMembersToKill: 3
        relative:
          percentageOfMembersToKill: 0.5
      memberAccess:
        # Can take the value of one of its immediate object-type sub-keys, i.e. 'k8sOutOfCluster' or 'k8sInCluster'
        mode: k8sInCluster
        k8sOutOfCluster:
          # If 'default' is given, Hazeltest will look for the Kubeconfig in $HOME/.kube/config.
          # In non-default cases, the absolute path of the file to be used can be specified.
          kubeconfig: default
          namespace: hazelcastplatform
          labelSelector: app.kubernetes.io/name=hazelcastplatform
        k8sInCluster:
          labelSelector: app.kubernetes.io/name=hazelcastplatform
      sleep:
        enabled: true
        durationSeconds: 300
        enableRandomness: true
      memberGrace:
        enabled: true
        durationSeconds: 30
        enableRandomness: true
  stateCleaners:
    maps:
      enabled: true
      cleanMode: destroy
      errorBehavior: ignore
      prefix:
        enabled: true
        prefix: "ht_"
      parallelCleanNumDataStructuresDivisor: 10
      cleanAgainThreshold:
        enabled: true
        thresholdMs: 30000
    queues:
      enabled: true
      cleanMode: destroy
      errorBehavior: ignore
      prefix:
        enabled: true
        prefix: "ht_"
      parallelCleanNumDataStructuresDivisor: 10
      cleanAgainThreshold:
        enabled: true
        thresholdMs: 30000
  queueTests:
    tweets:
      enabled: true
      numQueues: 5
      appendQueueIndexToQueueName: true
      appendClientIdToQueueName: false
      queuePrefix:
        enabled: true
        prefix: "ht_"
      putConfig:
        enabled: true
        numRuns: 5000
        batchSize: 50
        sleeps:
          initialDelay:
            enabled: false
            durationMs: 2000
            enableRandomness: false
          afterActionBatch:
            enabled: true
            durationMs: 2000
            enableRandomness: true
          betweenRuns:
            enabled: true
            durationMs: 5000
            enableRandomness: true
      pollConfig:
        enabled: true
        numRuns: 5000
        batchSize: 50
        sleeps:
          initialDelay:
            enabled: true
            durationMs: 2000
            enableRandomness: false
          afterActionBatch:
            enabled: true
            durationMs: 2000
            enableRandomness: true
          betweenRuns:
            enabled: true
            durationMs: 5000
            enableRandomness: true
    load:
      enabled: true
      numQueues: 5
      numLoadEntries: 50
      payloadSizeBytes: 100
      appendQueueIndexToQueueName: true
      appendClientIdToQueueName: false
      queuePrefix:
        enabled: true
        prefix: "ht_"
      putConfig:
        enabled: true
        numRuns: 10000
        batchSize: 50
        sleeps:
          initialDelay:
            enabled: false
            durationMs: 2000
            enableRandomness: false
          afterActionBatch:
            enabled: true
            durationMs: 1000
            enableRandomness: true
          betweenRuns:
            enabled: true
            durationMs: 3500
            enableRandomness: true
      pollConfig:
        enabled: true
        numRuns: 10000
        batchSize: 50
        sleeps:
          initialDelay:
            enabled: true
            durationMs: 2000
            enableRandomness: false
          afterActionBatch:
            enabled: true
            durationMs: 1000
            enableRandomness: true
          betweenRuns:
            enabled: true
            durationMs: 3500
            enableRandomness: true
  mapTests:
    pokedex:
      enabled: true
      numMaps: 10
      appendMapIndexToMapName: true
      appendClientIdToMapName: false
      numRuns: 10000
      performPreRunClean:
        enabled: false
        cleanMode: destroy
        errorBehavior: ignore
        cleanAgainThreshold:
          enabled: true
          thresholdMs: 30000
      mapPrefix:
        enabled: true
        prefix: "ht_"
      sleeps:
        betweenRuns:
          enabled: true
          durationMs: 2000
          enableRandomness: true
      testLoop:
        type: boundary
        batch:
          sleeps:
            afterBatchAction:
              enabled: true
              durationMs: 50
              enableRandomness: true
            afterActionBatch:
              enabled: true
              durationMs: 5000
              enableRandomness: true
        boundary:
          sleeps:
            betweenOperationChains:
              enabled: true
              durationMs: 5000
              enableRandomness: true
            afterChainAction:
              enabled: true
              durationMs: 500
              enableRandomness: true
            uponModeChange:
              enabled: true
              durationMs: 15000
              enableRandomness: false
          operationChain:
            length: 1_000
            resetAfterChain: true
            boundaryDefinition:
              upper:
                mapFillPercentage: 0.8
                enableRandomness: false
              lower:
                mapFillPercentage: 0.2
                enableRandomness: false
              actionTowardsBoundaryProbability: 0.69
    load:
      enabled: true
      numMaps: 100
      numEntriesPerMap: 10000
      appendMapIndexToMapName: true
      appendClientIdToMapName: false
      numRuns: 10000
      payload:
        fixedSize:
          enabled: true
          sizeBytes: 500
        variableSize:
          enabled: false
          lowerBoundaryBytes: 1000
          upperBoundaryBytes: 10000
          evaluateNewSizeAfterNumWriteActions: 100
      performPreRunClean:
        enabled: false
        cleanMode: destroy
        errorBehavior: ignore
        cleanAgainThreshold:
          enabled: true
          thresholdMs: 30000
      mapPrefix:
        enabled: true
        prefix: "ht_"
      sleeps:
        betweenRuns:
          enabled: true
          durationMs: 2000
          enableRandomness: true
      testLoop:
        type: boundary
        batch:
          sleeps:
            afterBatchAction:
              enabled: true
              durationMs: 50
              enableRandomness: false
            afterActionBatch:
              enabled: true
              durationMs: 2000
              enableRandomness: true
        boundary:
          sleeps:
            betweenOperationChains:
              enabled: true
              durationMs: 1000
              enableRandomness: true
            afterChainAction:
              enabled: true
              durationMs: 20
              enableRandomness: true
            uponModeChange:
              enabled: true
              durationMs: 15000
              enableRandomness: false
          operationChain:
            length: 3000
            resetAfterChain: true
            boundaryDefinition:
              upper:
                mapFillPercentage: 0.9
                enableRandomness: true
              lower:
                mapFillPercentage: 0.1
                enableRandomness: true
              actionTowardsBoundaryProbability: 0.9